$z-index: (
    "side-nav": 100,
    "page-overlay": 91,
    "top-nav": 90,
    "page": 10
);

$font-cursive: 'Hanalei Fill', cursive;

$fonts: (
    "hero-heading": $font-cursive
);

$color-black: #000;
$color-white: #FFF;

$header-height: 100px;